@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Noto Sans", serif;
  }
  body {
    background-color: #030712;
    color: #fff;
    overflow-x: hidden;
  }
}

@layer components {
}
